.productCard {
  position: relative;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease;
}

.productCard:hover {
  border: 1px solid #4b4b4b6e; /* Subtle border color change */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px; /* Light shadow for the card */
}

.productCard img {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.productCard:hover img {
  transform: scale(1.06); /* Slight zoom */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 30px 0px; /* Soft shadow on the image */
}
